
  .dashboard-santri-Lihat-Detail {
    height: 20px;
    flex-grow: 0;
    margin: 0 6px 0 0;
    padding-top: 10px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-black);
    float:right;
    cursor: pointer;
  }
  .dashboard-santri-card3-text1{
    width:290px;
    height: 197px;
    //margin: 12px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    margin-left: 10px;
    text-align: justify;
    color:var(--ion-color-black);
  }
  