.tab-selected{
    background:whitesmoke !important;
    color: var(--ion-color-black);
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
  }