<div class="modal-Rectangle-597">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <div class="text-kuisioner">
          Proses Registrasi Santri belum Selesai, Form Kuisioner Wajib diisi untuk mengikuti program AHMaD Project
        </div>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button fill="clear" class="modal-Rectangle-632" (click)="closeModel()">
          <ion-text class="Kembali-mengisi-kuisioner">
            Kembali Mengisi Kuisioner
          </ion-text>
        </ion-button>
        <ion-button fill="clear" class="modal-Rectangle-633" (click)="goSantriLogin()">
          <ion-text class="Ke-Halaman-depan">
            Ke halaman Depan
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>