.donasi-program-Rectangle-631 {
    width: 343px;
    //height: 200px;
    //margin: 16px;
    //padding: 73px 128px 74px 127px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color: var(-ion-color--white);
  }
  .donasi-program-Rectangle-632 {
    width: 343px;
    height: 311px;
    //margin: 16px;
    //padding: 135px 79px 136px 78px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color: var(-ion-color--white);
  }
  .donasi-program-Rectangle-633 {
    width: 343px;
    height: 311px;
    margin: 16px;
    //padding: 135px 28px 116px 27px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color:  var(-ion-color--white);
  }
  .donasi-program-Rectangle-634 {
    width: 343px;
    height: 311px;
    margin: 16px 16px 25px;
    //padding: 135px 65px 136px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color:  var(-ion-color--white);
  }
  .donasi-program-Rectangle-628 {
    width: 480px;
    height: 152px;
    flex-grow: 0; 
      margin: 25px 0 0 -10px;
    //padding: 16px;
    box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.15);
    background-color: var(-ion-color--white);
  }
  .donasi-program-berita-kampanye {
    //width: 186px;
    //height: 40px;
    font-family: Poppins;
    margin: 10px 20px 10px 10px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: justify ;
    color: var(--ion-color-black);
  }
  .donasi-program-card3-text1{
    //width: 247px;
    height: 27px;
    margin: 10 20px 10px 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: var(--ion-color-black);
  }
  