<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Program Donatur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="ion-grid">
  <ion-row>
      <ion-col>
          <ion-card class="donasi-program-Rectangle-631">
            <ion-item class="mt-5">
              <iframe width="100%" height="100%" [src]="urlSafe" frameborder="0" allowfullscreen></iframe>
            </ion-item>
          </ion-card>
          <ion-card class="donasi-program-Rectangle-632">
              Sample Ayat & penjelasan
              Alquran Asmaul Husna
          </ion-card>
          <ion-card class="donasi-program-Rectangle-633">
              Materi penjelsan tentang apa saja
              yang donatur dapatkan dalam program 
              tersebut
          </ion-card>
          <ion-card class="donasi-program-Rectangle-634">
              Materi penjelasan metode
              pembayaran yang disediakan
          </ion-card>
          <ion-card class="donasi-program-Rectangle-628">
              <div class="lg:flex-auto lg:h-4 lg:w-10 lg:mt-8 mt-5 lg:pl-8">
                  <ion-button fill="clear" class=" h-12 w-72  bg-gold rounded-2xl  border-black border-2 lg:bg-gold  lg:rounded-2xl lg:border-black lg:border-2"
                      routerLink="/penyaluran-donasi">
                      <ion-text class=" text-black font-bold text-md-12 lg:text-black lg:text-md-14 lg:font-semibold items-center">
                          Donasi Paket Pembelajaran
                      </ion-text>
                      <ion-icon name="arrow-forward-circle-outline" class="text-black" size="large"></ion-icon>
                  </ion-button>
              </div>
              <div class="lg:flex-auto lg:h-4 lg:w-10 lg:mt-10 mt-2 lg:pl-8 ">
                  <ion-button fill="clear" class="h-12 w-72 bg-white rounded-2xl border-black border-2 lg:bg-white  lg:rounded-2xl lg:border-black lg:border-2"
                      routerLink="/signin">
                      <ion-text class=" text-black font-semibold text-xs-12 dark:text-gold lg:text-black lg:text-md-14 lg:font-semibold items-center">
                          Bagikan Halaman Ini
                      </ion-text>
                      <ion-icon name="share-social-outline" class="text-black dark:text-gold"></ion-icon>
                  </ion-button>
              </div>
          </ion-card>
          </ion-col>
   </ion-row> 
</ion-grid>   
            
