<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Program Donatur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="ion-grid">
    <div style="text-align:center"> 
        <iframe src="http://www.youtube.com/embed/Q4qjTdJh2ms" frameborder="0" width="560" height="315"></iframe>
      </div>  
  <ion-row>
      <ion-col>
          <ion-card class="donasi-program-Rectangle-631">
            </ion-card>
      </ion-col>  
   </ion-row> 
</ion-grid>   
            
