<ion-header>
  <ion-toolbar>
    <ion-title>MASUK</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid>
  
        <ion-row>
             <ion-col  size="12"  size-md="5" offset-md="2" size-lg="6" offset-lg="3"  style="background: var(--ion-color-dark);">
                  <ion-text color="warning" ><div style="color:white;text-align: center">Pilih salah satu</div>
                   </ion-text>
                   <ion-button color="warning" expand="full"   routerLink="/santrilogin">Santri</ion-button><br>
                   <ion-button color="warning" expand="full"   routerLink="/donaturlogin">Donatur</ion-button>
          </ion-col>
         
        </ion-row>
      </ion-grid>
     
         
  </ion-content>