<ion-header >
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="primary"  (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title  class="ion-text-center">MASUK</ion-title>
      </ion-toolbar>            
</ion-header>
<ion-grid class="Login-Wall">
  <ion-row>
    <ion-col>
      <ion-card class="Rectangle-597">
        <ion-card-content>
          <div class="Pilih-salah-satu">Pilih salah satu</div>
          <ion-button fill="clear" class="s-button"  [routerLink]=" ['/login']" [queryParams]="{login_mode: 'santri'}">
            <ion-text class="s-sign-up">Santri</ion-text>
          </ion-button>
          <ion-button fill="clear" class="s-button" [routerLink]="['/login']" [queryParams]="{login_mode: 'donatur'}">
            <ion-text class="s-sign-up">Donatur</ion-text>
          </ion-button>
          <ion-button fill="clear" class="s-button"  [routerLink]="['/login']" [queryParams]="{login_mode: 'pendamping'}">
            <ion-text class="s-sign-up">Pendamping</ion-text>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
