<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button  (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Jadwal Pembayaran Donasi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="jadwal-pembayaran">
      <ion-row>
        <ion-col>          
            <ion-card class="jadwal-pembayaran-Rectangle-597" >
                <ion-text color="danger"><h3>{{error_msg}}</h3></ion-text>
            <div class="timeline">
                <div  *ngFor="let item of jadwallist.cicilan;">
                    <div class="timeline-container right">
                        <div class="timeline-content">
                          <div class="jadwal-date">{{item.cicilan_jatuh_tempo}} - {{item.cicilan_hijr}}</div>
                          <div class="jadwal-text">Transaksi donasi {{item.cicilan_ke}} (Rp.{{item.cicilan_nominal}})</div>
                        </div>
                      </div>
                </div>
              </div>  
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>         

    