<ion-header>
  <ion-toolbar>    
    <ion-title class="ion-text-center">Program Donasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="ion-grid" >
  <ion-row>
    <ion-col>
        <ion-card class="dashboard-donatur-Rectangle-660" (click)="goRiwayat()">
              <div class="dashboard-donatur-Rectangle-660-text">Riwayat Pembayaran Donasi
                <ion-icon name="arrow-forward-circle-outline" class="vector1" size="large"></ion-icon>
              </div>
         </ion-card>   
         <ion-card class="dashboard-donatur-Rectangle-660" (click)="goListPenerimaDonasi()">
            <div class="dashboard-donatur-Rectangle-660-text">List Penerima Donasi
              <ion-icon name="arrow-forward-circle-outline" class="vector2" size="large"></ion-icon>
            </div>
       </ion-card>   
       <ion-card class="dashboard-donatur-Rectangle-660"  (click)="goStatusPengiriman()">
          <div class="dashboard-donatur-Rectangle-660-text">Status Pengiriman Paket Donasi
            <ion-icon name="arrow-forward-circle-outline" class="vector3" size="large"></ion-icon>
          </div>
     </ion-card>   
       <ion-card class="dashboard-donatur-program">
                 <div class="dashboard-donatur-program-title">{{line_data_lembaga.lembaga_landing_donatur_judul}}</div>
                <div class="dashboard-donatur-program-content">
                    <span [innerHTML]="html_entity(line_data_lembaga.lembaga_landing_donatur_isi)"></span>
                </div>
                <div class="dashboard-donatur-program-button">
                    <ion-button fill="clear" slot="end" (click)="goSalurkanDonasi()">
                      <ion-text class="dashboard-donatur-program-sign-up">
                        Salurkan Donasi
                      </ion-text>
                    </ion-button>
                    <ion-icon name="arrow-forward-circle-outline" style="color: var(--ion-color-goldd);" size="large"></ion-icon>
                  </div>
         </ion-card>  
    </ion-col>
  </ion-row>
</ion-grid>    
