<ion-header>
  <ion-toolbar>    
    <ion-title class="ion-text-center">Program Donasi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
<div class="flex justify-center">
    <div>
        <ion-grid class="ion-grid  lg:w-480 w-375">
          <ion-row>
            <ion-col>
              <ion-card class="dashboard-donatur-Rectangle-660 lg:ml-16" (click)="goRiwayat()" *ngIf="adaDonasi">
                <div class="dashboard-donatur-Rectangle-660-text">Riwayat Pembayaran Donasi
                  <ion-icon name="chevron-forward-circle-outline" class="vector1" ></ion-icon>
                </div>
              </ion-card>
              <ion-card class="dashboard-donatur-Rectangle-660  lg:ml-16" (click)="goListPenerimaDonasi()" *ngIf="adaDonasi">
                <div class="dashboard-donatur-Rectangle-660-text">List Penerima Donasi
                  <ion-icon name="chevron-forward-circle-outline" class="vector2"></ion-icon>
                </div>
              </ion-card>
              <ion-card class="dashboard-donatur-Rectangle-660 lg:ml-16" (click)="goStatusPengiriman()" *ngIf="adaDonasi">
                <div class="dashboard-donatur-Rectangle-660-text">Status Pengiriman Paket Donasi
                  <ion-icon name="chevron-forward-circle-outline" class="vector3"></ion-icon>
                </div>
              </ion-card>
              <ion-card class="dashboard-donatur-program lg:ml-16">                
                <div class="dashboard-donatur-program-title mt-5">{{line_data_lembaga.lembaga_landing_donatur_judul}}</div>
                <div class="dashboard-donatur-program-content">
                  <span [innerHTML]="html_entity(line_data_lembaga.lembaga_landing_donatur_isi)"></span>
                </div>
                <div class="dashboard-donatur-program-button">
                  <ion-button fill="clear" slot="end" (click)="goSalurkanDonasi()">
                    <ion-text class="dashboard-donatur-program-sign-up normal-case">
                      Salurkan Donasi
                    </ion-text>
                  </ion-button>
                  <ion-icon name="arrow-forward-circle-outline" style="color: var(--ion-color-goldd);zoom:1.5" ></ion-icon>
                </div>                
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
       </div>
   </div>      
</ion-content>