<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goInfoMasuk()">
        <ion-icon slot="icon-only" name="notifications-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Dashboard Donatur</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
  <div class="flex justify-center">
    <div>
      <ion-grid class="ion-grid lg:w-480 w-375">
        <ion-row>
          <ion-col >
            <ion-card class="dashboard-donatur-card1 lg:ml-16" *ngIf="belum_donasi">
              <div class="dashboard-donatur-card1-title">
                Belajar Alquran <span style="color:white">Lebih</span>,
                <span style="color:white">Bersedekah</span> Lebih
              </div>
            </ion-card>
            <ion-card class="dashboard-donatur-sudah-donasi lg:ml-16" *ngIf="!belum_donasi">
              <div class="text-black mb-3 font-bold font-poppins">Statistik Santri Penerima Donasi Anda</div>
              <div class="grid grid-rows-1 grid-cols-2 gap-2  justify-between">
                <div class="bg-gold text-black rounded-xl">
                  <div class="text-center text-md-12 font-bold pt-2 font-poppins">Paket Tersalurkan</div>
                  <div class="dashboard-donatur-box-paket-tersalurkan-value">10</div>
                </div>
                <div class="bg-black text-gold rounded-xl">
                  <div class="text-md-12 font-bold  pl-1 pt-2 ">Santri Selesai Belajar</div>
                  <div class="dashboard-donatur-box-santri-belajar-value">0</div>
                </div>
              </div>
              <div class="dashboard-donatur-box-progress">
                <div class="dashboard-donatur-box-progress-title">
                  Progress Pembelajaran Santri Aktif
                </div>
                <div class="dashboard-donatur-box-progress-value">42%</div>
              </div>
              <div class="dashboard-donatur-lihat-detail" (click)="goLihatdetail()">
                <ion-label>Lihat Detail</ion-label>
                <ion-icon name="chevron-forward-circle-outline" class="vector0" size="large"></ion-icon>
              </div>
            </ion-card>
            <ion-card class="dashboard-donatur-pengingat lg:ml-16" *ngIf="!belum_donasi" (click)="goPengingat()">
              <div class="dashboard-donatur-pengingat-text">
                Pengingat Pembayaran Donasi
                <ion-icon name="chevron-forward-circle-outline" class="vector" size="large"></ion-icon>
              </div>
              <div class="dashboard-donatur-pengingat-content">{{pengingatList.pengingat_judul}} - {{pengingatList.created_at
                | date:'dd-MM-yyyy'}} </div>
            </ion-card>
            <ion-card class="dashboard-donatur-card2 lg:ml-16">
              <div class="dashboard-donatur-card2-text1"> {{line_data_lembaga.lembaga_landing_donatur_judul}}</div>
              <div class="dashboard-donatur-card2-text2">
                <span [innerHTML]="html_entity(line_data_lembaga.lembaga_landing_donatur_isi)"></span>
              </div>
              <div class="dashboard-donatur-button">
                <ion-button fill="clear" slot="end" routerLink="/penyaluran-donasi">
                  <ion-text class="dashboard-donatur-sign-up">
                    Salurkan Donasi
                  </ion-text>
                </ion-button>
                <ion-icon name="arrow-forward-circle-outline" style="color: var(--ion-color-goldd);" size="large"></ion-icon>
              </div>
            </ion-card>
            <ion-card class="dashboard-donatur-card3 lg:ml-16">
              <div class="dashboard-donatur-card3-title">Hadis /Doa Hari Ini</div>

              <ion-label style="font-weight: bold;" class="ion-text-wrap">{{hadistList.hadist_judul}}</ion-label>
              <div class="dashboard-donatur-card3-text1"><span [innerHTML]="html_entity(hadistisi)"></span></div>
              <a style="cursor: pointer" (click)="readMore(hadistList.hadist_isi)"> read more.. </a>
            </ion-card>
          </ion-col>       
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>