ion-toolbar {
    --background: var(--ion-color-goldd);
    }
    .dashboard-donatur-card1{
        height: 116px;
        width: 343px;
        //margin: 0 10px 10px;
        object-fit: contain;
        border-radius: 14px;
        box-shadow: 0 0.8px 1.4px 0 rgba(176, 190, 197, 0.32), 0 2.2px 6.6px 0 rgba(176, 190, 197, 0.32);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(to top, rgba(185, 185, 185, 0.68), #212121), linear-gradient(to bottom, #c4c4c4, #c4c4c4);        
        background-size: auto;
        background-position: center;
        background-image: url('../../assets/images/banner.webp');
      }
      .dashboard-donatur-card1-title{
        width: 173.3px;
        height: 36px;
        margin: 42px 162.7px 38px 39px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.12;
        letter-spacing: -0.2px;
        text-align: left;
        color: var(--ion-color-goldd);
      }
      .dashboard-donatur-card2{
        width: 343px;
        //height: 340px;
        // margin: 24px 16px 16px;
        padding: 26px 43px 10px 26px;
        object-fit: contain;
        border-radius: 14px;

        box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
        background-image: linear-gradient(to top, var(--ion-color-goldd), rgba(255, 255, 255, 0)), linear-gradient(to bottom, rgba(252, 198, 4, 0.6), rgba(252, 198, 4, 0.6)), linear-gradient(to bottom, var(--ion-color-goldd), var(--ion-color-goldd));
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        //background-image: url('../../assets/images/dashboard-donatur-Rectangle_608.webp');
      }
      .dashboard-donatur-card2-text1{
        width: 247px;
        height: 27px;
        //margin: 0 32px 16px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: center;
        color: var(--ion-color-black);
      }
      .dashboard-donatur-card2-text2{
        width: 290px;
        //height: 199px;
        min-height: 259px;
        margin: 16px 0;
        font-family: Poppins;
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: left;
        color: var(--ion-color-black);
      }
      .dashboard-donatur-button{
        //width: 311px;
        height: 52px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 16px 0 0;
        padding: 16px 20px;
        object-fit: contain;
        border-radius: 14px;
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: var(--ion-color-black);
      }
      .dashboard-donatur-sign-up{
        width: 115px;
        height: 20px;
        flex-grow: 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: var(--ion-color-goldd);
      }
      .dashboard-donatur-card3{
        width: 343px;
        min-height: 261px;
        //margin: 16px 16px 32px;
        padding: 26px 43px 36px 26px;
        border-radius: 14px;
        box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
        background-color: var(--ion-color-white);
      }
      .dashboard-donatur-card3-title{
        width: 132px;
        height: 20px;
        margin: 0 179px 12px 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-black);
      }
      .dashboard-donatur-card3-text1{
        width:270px;
        //height: 197px;
        //margin: 12px 0 0;
        font-family: Poppins;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        margin-left: 10px;
        text-align: justify;
        color:var(--ion-color-black);
      }
      .dashboard-donatur-sudah-donasi{
        width: 343px;
        height: 273px;
        //margin: 24px 16px 16px 10px;        
        padding: 16px 15px 36px 15px;
        border-radius: 14px;
        box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
        background-color: var(--ion-color-white);
      }
      .dashboard-donatur-sudah-donasi-text{
        width: 270px;
        height: 20px;
        margin: 0 41px 13px 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: v var(--ion-color-black);
      }
      .dashboard-donatur-box-paket-tersalurkan{
        position: absolute;
        top :12%;
        width: 149px;
        height: 80px;
        margin: 13px 13px 12px 0;   
        padding: 6px 20px;
        border-radius: 14px;
        background-color: var(--ion-color-goldd);
      }
      .dashboard-donatur-box-santri-belajar{
        position: absolute;
        top: 12%;
        width: 149px;
        height: 80px;
        margin: 13px 0 12px 155px;
        padding: 6px 10px 6px 12px;
        border-radius: 14px;
        background-color: var(--ion-color-black);
      }
      .dashboard-donatur-box-progress{
        position: absolute;
        top: 50%;
        width: 300px;
        height: 80px;
        margin: 12px 0 16px;
        padding: 6px 50px 6px 51px;
        border-radius: 14px;
        border: solid 1px var(--ion-color-goldd);
      }
      .dashboard-donatur-pengingat{
        width: 343px;
        height: 98px;
        //margin: 24px 16px 16px 10px;        
        padding: 16px 43px 36px 10px;
        border-radius: 14px;
        box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
        background-color: var(--ion-color-white);
      }
      .dashboard-donatur-lihat-detail{
        position: absolute;
        top: 88%;
        padding: 0px 0px 0px 210px;
        cursor: pointer;

      }
      .dashboard-donatur-box-progress-title{
        width: 260px;
        height: 20px;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-black);
      }
      .dashboard-donatur-box-progress-value{
        width: 88px;
        height: 48px;
        margin: 5px 71px 0;
        font-family: Poppins;
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color:  var(--ion-color-black);
      }
      .dashboard-donatur-box-paket-tersalurkan-text{
        width: 112px;
        height: 20px;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color:  var(--ion-color-black);
      }
      .dashboard-donatur-box-paket-tersalurkan-value{
        //width: 343px;
        height: 48px;
       // margin: 5px 37px 0 59px;
        font-family: Poppins;
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: var(--ion-color-black);
      }
      .dashboard-donatur-box-santri-belajar-text{
        //width: 145px;
        height: 20px;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-goldd);
      }
      .dashboard-donatur-box-santri-belajar-value{
        //width: 21px;
        height: 48px;
        //margin: 5px 54px 0 52px;
        font-family: Poppins;
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color:var(--ion-color-goldd);
      }
      .dashboard-donatur-pengingat-text{
        width: 223px;
        height: 20px;
        margin: 0 72px 6px 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-black);
        cursor: pointer;
      }
      .dashboard-donatur-pengingat-content{
        width: 269px;
        height: 20px;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-black);      
      }
      .vector{
          position: absolute;
          top:12%;
        flex-grow: 0;
        padding: 0 0px 0px 60px;
        //background-color: var(--ion-color-black);      
      }
      .vector0{
        position: absolute;
        top:-36%;
         flex-grow: 0;
         padding: 0 0px 0px 2px;
    }
    ion-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }