<div class="modal-nominal-donasi-Rectangle-597">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <div class="modal-nominal-donasi-pilih-text">
            Pilih Salah Satu
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-button fill="clear" class="modal-donasi" (click)="goModal('10000')">
          <ion-text class="modal-donasi-text">
            Rp.10.000
          </ion-text>
        </ion-button>
        <ion-button fill="clear" class="modal-donasi" (click)="goModal('20000')">
          <ion-text class="modal-donasi-text">
              Rp.20.000
          </ion-text>
        </ion-button>
        <ion-button fill="clear" class="modal-donasi" (click)="goModal('50000')">
          <ion-text class="modal-donasi-text">
              Rp.50.000
          </ion-text>
        </ion-button>
        <ion-button fill="clear" class="modal-donasi" (click)="goModal('100000')">
          <ion-text class="modal-donasi-text">
              Rp.100.000
          </ion-text>
        </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </div>