.monitoring-pendamping-statistik-card{    
    width: 343px;
    height: 233px;
    //margin: 24px 16px 16px 10px;        
    padding: 16px 15px 36px 15px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color: var(--ion-color-white);
  }
  .dashboard-donatur-sudah-donasi-text{
    width: 270px;
    height: 20px;
    margin: 0 41px 13px 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: v var(--ion-color-black);
  }
  .box-paket-tersalurkan-value{
    //width: 343px;
    height: 48px;
   // margin: 5px 37px 0 59px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--ion-color-black);
  }
  .box-santri-belajar-value{
    //width: 21px;
    height: 48px;
    //margin: 5px 54px 0 52px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:var(--ion-color-goldd);
  }
  .box-progress{
    position: absolute;
    top: 50%;
    width: 300px;
    height: 80px;
    margin: 12px 0 16px;
    padding: 6px 50px 6px 51px;
    border-radius: 14px;
    border: solid 1px var(--ion-color-goldd);
  }
  .box-progress-title{
    width: 260px;
    height: 20px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-black);
  }
 
  .monitoring-Rectangle-638 {
    width: 343px;
    height: 68px;
    //margin: 16px;
    padding: 5px 16px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color: var(--ion-color-white);
  }
  .monitoring-list-santri{
    width: 311px;
    height: 52px;
    margin: 0 0 16px;
    padding: 16px;
    border-radius: 14px;
    border: solid 1px var(--ion-color-goldd);
    background-color: var(--fill-placeholder);
    cursor: pointer;
  }
  .monitoring-list-santri-text{
    width: 279px;
    height: 20px;
    margin: 16px 16px 0 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-black);
  }
  .monitoring-pengiriman{
    width: 311px;
    height: 52px;
    margin: 16px 0;
    padding: 16px;
    border-radius: 14px;
     border: solid 1px var(--ion-color-goldd);
    background-color: var(--fill-placeholder);
    cursor: pointer;
  }
  .monitoring-pengiriman-text{
    width: 279px;
    height: 20px;
    margin: 16px 16px 0 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-black);
  }
  .vector1{
    position: absolute;
    top:7%;
    margin: 0px 0px 0px 155px;    
    flex-grow: 0;
  }
  .vector2{
    position: absolute;
    top:31%;
    margin: 16px;
    margin: 0px 0px 0px 118px;
    flex-grow: 0;
  }

  .Kode-Referral {
    width: 96px;
    height: 20px;
    margin: 0 215px 6px 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
  }
  .dashboard-pendamping-pengingat-button{
    width: 310px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    object-fit: contain;
    border-radius: 14px;
    box-shadow: 2px 4px 12px 0 rgba(252, 198, 4, 0.2);
    background-color: var(--ion-color-goldd);
  }
  .dashboard-pendamping-pengingat--button-text{   
      height: 20px;
      flex-grow: 0;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;
      color: var(--ion-color-black);
  }
