<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>    
    <ion-title class="ion-text-center">Notifikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="Notifikasi-donatur">
  <ion-row>
    <ion-col>
      
        <ion-card class="notif-donatur-Rectangle-656" *ngFor="let item of notiflist;">
          <div class="notif-donatur-title">
              
              <ion-datetime displayFormat="DD-MM-YYYY HH:mm" value="{{item.pesan_waktu_kirim}}"></ion-datetime>
          </div>
          <div class="notif-donatur-text">
              {{item.pesan_isi}}
          </div>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>       
