<div class="modal-jenis-donasi-Rectangle-597">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <div class="modal-nominal-donasi-jenis-text">
          Pilih Salah Satu
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-button fill="clear" class="modal-donasi" (click)="goModal('Harian')">
        <ion-text class="modal-donasi-text  normal-case">
          Donasi Harian
        </ion-text>
      </ion-button>
      <ion-button fill="clear" class="modal-donasi" (click)="goModal('Pekanan')">
        <ion-text class="modal-donasi-text  normal-case">
          Donasi Pekanan
        </ion-text>
      </ion-button>
      <ion-button fill="clear" class="modal-donasi" (click)="goModal('Bulanan')">
        <ion-text class="modal-donasi-text  normal-case">
          Donasi Bulanan
        </ion-text>
      </ion-button>
      <ion-button fill="clear" class="modal-donasi" (click)="goModal('Penuh')">
        <ion-text class="modal-donasi-text  normal-case">
          1 Kali Donasi Penuh
        </ion-text>
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>