<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="goInfoMasuk()" style="height: 60px;width: 60px;">
        <ion-icon slot="icon-only" name="notifications-circle-outline" style="zoom:1.1"></ion-icon>
        <ion-badge color="danger" style="position: absolute; right: -7px; top: -1px;">
          <span style="font-size:9px " *ngIf="adaPesan">{{unread_pesan}}</span>
        </ion-badge>
      </ion-button>    
    </ion-buttons>
    <ion-title   class="ion-text-center" >Dashboard Pendamping</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
  <ion-grid class="ion-grid lg:w-480 w-375">
    <ion-row>
      <ion-col>
        <ion-card class="dashboard-pendamping-Rectangle-657 lg:ml-16 ml-0" >
          <div class="Kode-Referral">Kode Referral</div>
          <div class="ahmad-button-goldd" (click)="ajakLainnya()">
            <ion-button fill="clear" slot="end">
              <ion-text class="ahmad-button-goldd-text normal-case">
                Bagikan Kode Referral
              </ion-text>
            </ion-button>
            <ion-icon name="chevron-forward-circle-outline" style="color: black;zoom:1.4;"></ion-icon>
          </div>
          <div class="Kode-anda-dipakai-oleh-0-dari-7-Orang">Kode anda dipakai oleh {{Referral_min}} dari {{Referral_max}} orang</div>
        </ion-card>

        <!-- <ion-card class="dashboard-pendamping-ion-card-rectangle lg:ml-16 ml-0" *ngIf="!noProgram">
          <div class="dashboard-pendamping-Rectangle-671">
            <div class="dashboard-pendamping-ionbook-outline"></div>
            Mohon bersabar, belum ada santri yang perlu bimbingan anda
          </div>
        </ion-card>
        <ion-card class="ahmad-card-no-data lg:ml-16 ml-0" *ngIf="noProgram">
          <div *ngFor="let item of santrilist;">
            <ion-card class="ahmad-box-small">
              <ion-avatar class="pt-4 pl-3">
                <img src="assets/images/no-image.png" style="height: 30px;width:30px;"><br>
              </ion-avatar>
              <div class="donasi-pengiriman-nama-pendamping" (click)="goLihatDetail(item)" style="cursor: pointer">
                {{item.santri_nama}}
                <ion-icon name="arrow-forward-circle-outline" class="text-black" style="zoom:2.0;float: right;"></ion-icon>
              </div>
            </ion-card>
          </div>
        </ion-card> -->
        <ion-card class="dashboard-pendamping-ion-card-rectangle lg:ml-16 ml-0" *ngIf="!noBerita">
          <div class="dashboard-pendamping-Rectangle-672">
            <div class="dashboard-pendamping-ionchatbox-ellipses-outline"></div>
            Belum ada berita atau event
          </div>
        </ion-card>
        <ion-card class="dashboard-pendamping-ion-card-rectangle lg:ml-16 ml-0" *ngIf="noBerita">
          <div class="ion-card-title">
            <ion-label>Berita/Event</ion-label>
          </div>
          <ion-list>
            <ion-item *ngFor="let item of line_berita ">
              <ion-label class="berita-title ion-text-wrap" (click)="beritadetail(item)" style="cursor:pointer"><span [innerHTML]="html_entity(item.berita_isi)"></span></ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
        <ion-card class="ahmad-card-no-data lg:ml-16 ml-0" *ngIf="!noPengingat">
          <div class="ahmad-card-no-data-box-small">
            <div class="ahmad-card-no-data-box-small-icon"></div>
            Belum ada Pengingat Hari ini
          </div>
        </ion-card>
        <ion-card class="ahmad-card lg:ml-16 ml-0" *ngIf="noPengingat">
          <div class="ion-card-title-1">Pengingat Progress Santri</div>
          <div *ngFor="let item of pengingatList;">
            <ion-card class="donasi-pendamping-list-Rectangle-597">
              <div class="ahmad-tgl-pengingat">{{item.created_at | date:'dd-MM-yyyy'}}</div>
              <div class="ahmad-pesan-pengingat"> {{item.pengingat_isi}}</div>
            </ion-card>
          </div>
        </ion-card>

        <ion-card class="dashboard-pendamping-ion-card-rectangle lg:ml-16 ml-0" *ngIf="noHadist">
          <div class="ahmad-card-title">Hadist/Doa Hari ini</div>
          <ion-label style="font-weight: bold;" class="ion-text-wrap">{{hadistList.hadist_judul}}</ion-label>
          <div class="ahmad-card-text"><span [innerHTML]="html_entity(hadistisi)"></span>
            <a style="cursor: pointer" (click)="readMore(hadistList.hadist_isi)"> read more.. </a>
          </div>
        </ion-card>
        <ion-card class="ahmad-card-no-data lg:ml-16 ml-0" *ngIf="!noHadist">
          <div class="ahmad-card-no-data-box-small">
            <div class="ahmad-card-no-data-box-small-icon"></div>
            Belum ada Hadist/Doa Hari ini
          </div>
        </ion-card>
        <ion-card class="ahmad-card-no-data lg:ml-16 ml-0" style="display:none">
          <div class="ahmad-button-goldd" (click)="goPengingat()">
            <ion-button fill="clear" slot="end">
              <ion-text class="ahmad-button-goldd-text normal-case">
                Pengingat Bimbingan
              </ion-text>
            </ion-button>
            <ion-icon name="chevron-forward-circle-outline" style="color: black;zoom:1.4;"></ion-icon>
          </div>
        </ion-card>
        <div class="pendamping-akun-button-keluar  lg:ml-16 ml-0">
          <ion-button fill="clear" slot="end" (click)="goKeluar()">
            <ion-text class="pendamping-akun-button-keluar-text normal-case">
              Keluar
            </ion-text>
          </ion-button>
          <ion-icon name="chevron-forward-circle-outline" class="text-white" style="zoom:1.5"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>