.password-Rectangle-630 {
    width: 307px;
    height: 52px;
    margin: 10px 0 24px 5px;
    padding: 14px 16px;
    border-radius: 14px;
    display:flex;
    border: solid 1px var(--ion-color-goldd);
    background-color: var(--fill-placeholder);
  }
  ion-input{
    width: 311px;
    height: 52px;
    margin: -15px;
    padding: 0px;
    //border-radius: 0px;
    text-align: left;
    border: none;
    background-color:transparent;
}
