<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="margin-left:-50px">Masuk</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
  <ion-grid class="masuk-santri-donatur lg:w-480 w-375">
    <ion-row>
      <ion-col>
        <ion-card class="masuk-santri-donatur-Rectangle-597 lg:mt-4 lg:ml-16 ml-0">
          <div class="masuk-santri-card-title">
            Masuk untuk mulai belajar dan berdonasi untuk amal jariyah terbaik
          </div>
          <form id="form">
            <ion-input class="password-Rectangle-630" placeholder="Email" [(ngModel)]="user_email" name="user_email" required (ngModelChange)="blurEvent1($event);"></ion-input>
            <div class="password-Rectangle-630">
              <ion-input [type]="getType()" placeholder="password anda" required [(ngModel)]="user_password" name="user_password">
              </ion-input>
              <ion-icon [name]="getName()" (click)="toggleTextPassword()" class="ioneye"></ion-icon>
            </div>
 

            <ion-button color="warning" fill="clear" class="login-wall-button" (click)="goLogin()">
              <ion-text class="donatur-login-card2-Sign-up normal-case">
                Lanjutkan
              </ion-text>
              <div class="">
                <ion-icon name="chevron-forward-circle-outline" style="color: black;zoom:1.4"></ion-icon>
              </div>
            </ion-button>
            <ion-text color="danger">
              <h3>{{error_msg}}</h3>
            </ion-text>
           
            <div *ngIf="notPendamping">
              <ion-text class="masuk-santri-donatur-text">Belum Punya Akun? </ion-text>
              <button ion-button icon-only clear class="masuk-santri-donatur-Registrasi" (click)="gotoregistrasi()">Register</button>
            </div>
          </form>

        </ion-card>
        <ion-card class="masuk-santri-donatur-Rectangle-598 lg:mt-2 lg:ml-16 ml-0">
          <ion-text style="text-align: center;display:none">
            <h3>Atau lebih cepat</h3>
          </ion-text>
          <ion-button fill="clear" class="w-72 bg-white rounded-lg  border-placeholder border lg:bg-white  lg:rounded-2xl lg:border-placeholder lg:border ml-4"
            (click)="doLogin()">
            <img src="assets/images/Google_Logo.svg" class="mr-10">
            <ion-text class=" text-black text-md-14 lg:text-black lg:text-md-16 items-center normal-case">
              Masuk dengan Google
            </ion-text>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>