.view-doa-rectangle{
    width: 343px;
    //margin: 15px 16px 32px;
    padding: 16px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color: var(--ion-color-white);
  }
  .view-doa-Rectangle-672 {
    width: 311px;
    height: 104px;
    margin: 16px 0 0;
    padding: 24px 16px;
    border-radius: 14px;
    border: solid 1px var(--ion-color-black);
  }
  .view-doa-card3-text1{
    width:290px;
    //height: 197px;
    //margin: 12px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    margin-left: 10px;
    text-align: justify;
    color:var(--ion-color-black);
  }