<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{nama_santri}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
  <ion-grid class="pengiriman-status-detail  lg:w-480 w-375">
    <ion-row>
      <ion-col>
        <ion-card class="pengiriman-status-Rectangle-597">
          <div class="timeline">
            <div *ngFor="let item of deliverydetaillist;">
              <div class="timeline-container-orange right">
                <div class="timeline-content">
                  <div class="pengiriman-status-tanggal">{{item.kirim_manifest_tanggal}}</div>
                  <div class="pengiriman-status-text">{{item.kirim_manifest_deskripsi}}</div>
                  <div>&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>