<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">List Penerima Donasi</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="donasi-santri-list">
    <ion-row>
      <ion-col>
        <div class="donasi-santri-box-title">
          <div class="donasi-santri-title">Total Santri Penerima Donasi</div>
          <div class="donasi-santri-text">{{total_santri}} Santri</div>
        </div>  
        <div *ngFor="let item of santrilist;">        
          <ion-card class="donasi-santri-list-Rectangle-597">
              <ion-avatar>
                  <img src="{{item.photo_url}}" style="height: 30px;width:30px;" ><br>                            
              </ion-avatar>      
            <div class="donasi-pengiriman-nama-santri">
              {{item.nama_santri}}
            </div>
            <div class="donasi-santri-list-text" (click)="goDetailPenerima(item)" style="cursor:pointer">
              {{item.nama_prgram}} {{item.pencapaian}} 
              <ion-icon name="arrow-forward-circle-outline" style="color: black;float:right;cursor: pointer"></ion-icon>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  