.Program-Santri {
    width: 375px;
    height: 1202px;
    flex-grow: 0;
    background-color: #efeffe;
  }

  .program-santri-card1-title {
    //width: 279px; 
    height: 20px;
    //margin: 0 16px 10px 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-black);
  }
  .program-santri-card2-title{
    //width: 154px;
    height: 20px;
    flex-grow: 0;
    //margin: 0 0 0 6px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  .program-santri-Lihat-Detail{
    width: 16px;
    height: 16px;
    margin: 17px 0 17px 16px;
    object-fit: contain;
  }
  .program-santri-ion-card-rectangle{
    width: 343px;
    padding: 16px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color: var(--ion-color-white);
  }
  .program-santri-Rectangle-657 {
    width: 290px;
    height: 51px;
    flex-grow: 0;
    margin: 12px 0;
    padding: 12px 16px;
    border-radius: 14px;
    border: solid 1px var(--placeholder);
  }
  .program-santri-ion-card-title{
    width: 300px;
    margin: 0 106px 6px 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-black);      
  }

  .program-santri-nama-donatur{
    height: 20px;
    //margin: 0 105px 12px 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-black);
  }
  .program-santri-nama-pendamping{
    height: 20px;
   // margin: 0 111px 12px 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: var(--ion-color-black);
}
.program-santri-BapakIbu-Nama{
    //width: 210px;
    height: 20px;
    margin: 12px 0 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
