<ion-header  >
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="primary"  (click)="goBack()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
      </ion-buttons>
      <ion-title  class="ion-text-center">Buat Password Akun</ion-title>
       <p  class="ion-text-center">Registrasi {{user_email}} sebagai {{login_mode}}</p>     
    </ion-toolbar>
  </ion-header>
  <ion-content class="w-full" [scrollEvents]="true">
<ion-grid class="cdaftar lg:w-480 w-375">  
  <ion-row>
    <ion-col>
        <ion-card class="daftar-card-rectangle lg:ml-16 ml-0">
                <div class="daftar-Rectangle-630" >
                  <ion-input [type]="getType_1()" class="flex items-center" placeholder="password anda" required [(ngModel)]="newpassword" name="newpassword" >                      
                  </ion-input>
                  <ion-icon name="eye"  (click)="toggleTextPassword_1()" style="padding-left:15px;cursor:pointer" slot=“end”  ></ion-icon>                  
                </div>  
                <div class="daftar-Rectangle-630" >
                  <ion-input [type]="getType_2()" placeholder="ulangi password anda" [(ngModel)]="confirmassword" required  name="confirmassword" >                      
                  </ion-input>                  
                  <ion-icon name="eye" (click)="toggleTextPassword_2()" style="padding-left:15px;cursor:pointer" slot=“end” ></ion-icon>
                </div>
                <ion-text color="danger"><h3>{{error_msg}}</h3></ion-text>
                <ion-button fill="clear" class="masuk-santri-donatur-button" (click)="goBuatpassword()">
                  <ion-text class="card2-Sign-up normal-case">
                    Simpan dan lanjutkan
                  </ion-text>
                </ion-button>
          </ion-card>    
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>