<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>    
    <ion-title class="ion-text-center">Riwayat Donasi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
<ion-grid class="riwayat-donasi lg:w-480 w-375">
  <ion-row>
    <ion-col>
        <ion-text color="danger"><h3>{{error_msg}}</h3></ion-text>
        <div  *ngFor="let item of riwayatlist;">
           <div class="riwayat-date  lg:ml-16">{{item.donasi_tanggal | date: 'dd-MM-yyyy'  }} </div> 
        <ion-card class="riwayat-donasi-Rectangle-656 lg:ml-16">
          <div class="riwayat-donasi-title">              
              {{item.donasi_jumlah_santri}} Paket Donasi (Rp.{{item.donasi_total_harga|number:'.0'}})
          </div>
          <div class="riwayat-donasi-text" (click)="goDetailRiwayat(item)" style="cursor:pointer">              
              <span [innerHTML]="caraBayarCode(item.donasi_cara_bayar)"></span>
              <ion-icon name="arrow-forward-circle-outline" class="text-black" style="zoom:2.0;float: right;" ></ion-icon>
          </div>
        </ion-card>
      </div>      
    </ion-col>
  </ion-row>
</ion-grid>       
</ion-content>