<ion-header>
    <ion-toolbar> 
        <ion-buttons slot="start">
            <ion-button color="dark"  (click)="goBack()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
      </ion-buttons>
      <ion-title  class="ion-text-center">Fitur Pengingat</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
<ion-grid class="pengingat-donasi  lg:w-480 w-375">
    <ion-row>
      <ion-col>
          <ion-card class="pengingat-donasi-Rectangle-633 lg:ml-16">
            <div class="pengingat-donasi-text">
                <p>Pengingat Pembayaran Diaktifkan!<br><br>

                Untuk mempermudah mengingat waktu pembayaran donasi maka fitur pengingat pembayaran diaktifkan sesuai dengan jenis donasi yang sudah anda tentukan yaitu:<br><br>
                
                [{{jenis_donasi}} - Rp{{nominal_donasi}}]<br><br>
                
                Pembayaran cicilan donasi akan dilakukan mulai dari H-2 hingga hari H</p>
                <p>
                    Pengingat ini sekaligus mengirimkan materi-materi terkait hadis, doa-doa dan pengingat ibadah lainnya
                </p>

            </div>            
          </ion-card> 
          <ion-card class="pengingat-donasi-Rectangle-628">
              <ion-button color="warning" fill="clear" class="pengingat-donasi-button  lg:ml-16" (click)="goRiwayatDonasi()">                        
                  <ion-text class="pengingat-donasi-Sign-up">
                      Riwayat Donasi                            
                  </ion-text>                        
                  <div class="vector">
                      <ion-icon name="chevron-forward-circle-outline"   size="large"  ></ion-icon>
                  </div>                      
              </ion-button> 
          </ion-card>
      </ion-col>  
    </ion-row>
 </ion-grid>      
</ion-content>