<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Akun Pendamping</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
  <ion-grid class="ion-grid  lg:w-480 w-375">
    <ion-row>
      <ion-col>
        <ion-card class="donatur-akun-Rectangle-637 lg:ml-16 ml-0">
          <div style="float:left">
            <ion-avatar>
              <img src="{{user_photoURL}}" class="donatur-akun-Ellipse-87">
            </ion-avatar>
            <div class="donatur-akun-nama-User">{{user_displayName}}</div>
            <div class="donatur-akun-emailemailcom">{{user_email}}</div>
          </div>
        </ion-card>
        <ion-card class="donatur-akun-Rectangle-638 lg:ml-16 ml-0">
          <div class="donatur-akun-rubah-profile" (click)="goProfile()">
            <div class="donatur-akun-rubah-profile-text">Ubah Profil
              <ion-icon name="chevron-forward-circle-outline" class="vector1"></ion-icon>
            </div>
          </div>
          <div class="donatur-akun-rubah-password " (click)="goUbahPassword()">
            <div class="donatur-akun-rubah-password-text">Ubah Password
              <ion-icon name="chevron-forward-circle-outline" class="vector2"></ion-icon>
            </div>
          </div>
          <div class="donatur-akun-rubah-password ">
            <div class="donatur-akun-rubah-password-text">Tentang Kami
              <ion-icon name="chevron-forward-circle-outline" class="vector3"></ion-icon>
            </div>
          </div>
          <div class="donatur-akun-rubah-password " (click)="goFAQ()">
            <div class="donatur-akun-rubah-password-text">FAQ
              <ion-icon name="chevron-forward-circle-outline" class="vector4"></ion-icon>
            </div>
          </div>
        </ion-card>
        <ion-card class="donatur-akun-program lg:ml-16 ml-0" style="display:none">
          <div class="donatur-akun-program-title">{{line_data_lembaga.lembaga_landing_pendamping_judul}}</div>
          <div class="donatur-akun-program-content">
            <span [innerHTML]="html_entity(line_data_lembaga.lembaga_landing_pendamping_isi)"></span>
          </div>
        </ion-card>
        <ion-card class="ahmad-card-ajak-keluarga lg:ml-16 ml-0">
          <div class="ahmad-card-ajak-keluarga-text1">
            Ajak <span style="color:white">keluarga, teman</span> dan kerabat bergabung dengan program ini <span style="color:white">baik
              menjadi</span> donatur <span style="color:white">atau</span> santri
          </div>
          <div class="ahmad-card-ajak-keluarga-text2">
            Asmaul Husna Makna dan Doa (AHMaD) project adalah sebuah program khusus untuk siapa saja yang ingin belajar memahami makna
            dibalik nama-nama ALLAH SWT yang terdapat didalam Ayat Alquran
          </div>
          <br>
          <div class="ahmad-button-goldd " (click)="goAjak()">
            <ion-button fill="clear" slot="end">
              <ion-text class="ahmad-button-goldd-text normal-case">
                Ajak yang lainnya
              </ion-text>
            </ion-button>
            <ion-icon name="chevron-forward-circle-outline" style="color: black;zoom:1.4;"></ion-icon>
          </div>
          <div class="Kode-anda-dipakai-oleh-0-dari-7-Orang"><span class="text-white">Kode anda dipakai oleh {{Referral_min}}
              dari {{Referral_max}} orang</span></div>

        </ion-card>
        <div class="donatur-akun-button-keluar lg:ml-16 ml-0">
          <ion-button fill="clear" slot="end" (click)="goKeluar()">
            <ion-text class="donatur-akun-button-keluar-text normal-case">
              Keluar
            </ion-text>
          </ion-button>
          <ion-icon name="chevron-forward-circle-outline" style="color: white;zoom:1.2;"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>