<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Akun Santri</ion-title>
  </ion-toolbar>    
</ion-header>

<ion-grid class="santri-akun">
    <ion-row>
      <ion-col>
          <ion-card class="santri-akun-Rectangle-637">
            <div style="float:left">
              <ion-avatar>
                  <img src="{{user_photoURL}}" class="santri-akun-Ellipse-87">
              </ion-avatar> 
              <div class="santri-akun-nama-User">Abdullah</div>
                  <div class="santri-akun-emailemailcom">email@email.com</div>                          
            </div>
          </ion-card> 
          <ion-card class="santri-akun-Rectangle-638">
                <div class="santri-akun-Rectangle-648" (click)="goProfile()">
                    <div class="santri-akun-Rectangle-648-text">Ubah Profil                        
                    </div>
                    <ion-icon name="arrow-forward-circle-outline" class="vector1"   size="large"></ion-icon>
                    
                </div>
                <div class="santri-akun-Rectangle-648"  (click)="goUbahPassword()">
                    <div class="santri-akun-Rectangle-648-text">Ubah Password 
                      <ion-icon name="arrow-forward-circle-outline" class="vector2"  size="large"></ion-icon>
                    </div>
                    
                </div>
                <div class="santri-akun-Rectangle-648">
                    <div class="santri-akun-Rectangle-648-text">Tentang Kami
                        <ion-icon name="arrow-forward-circle-outline"  class="vector3"  size="large"></ion-icon>
                    </div>
                    
              
                </div>
                <div class="santri-akun-Rectangle-648">
                    <div class="santri-akun-Rectangle-648-text">FAQ
                        <ion-icon name="arrow-forward-circle-outline" class="vector4"  size="large"></ion-icon>                    
                    </div>
                </div>
          </ion-card>
          <ion-card class="santri-akun-Rectangle-608">
            <img src="assets/images/santri-aku-program-donatur.webp" style="width: 330px;;object-fit: cover">
                <div class="santri-akun-Program-Donatur">Program Donatur</div>
              <div class="santri-akun-program-donatur-content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id ullamcorper egestas imperdiet diam augue. Erat egestas amet, sit felis nisl tristique.   
                </div>
                <div class="santri-akun-button">
                        <ion-button fill="clear" slot="end"routerLink="/login" [queryParams]="{login_mode: 'donatur'}">
                            <ion-text class="santri-akunSign-up">
                                Menjadi Donatur
                            </ion-text>
                        </ion-button>               
                        <ion-icon name="arrow-forward-circle-outline" style="color: var(--ion-color-goldd);" size="large"></ion-icon>
                </div>
              
        </ion-card>
          <ion-card class="santri-akun-ajak-keluarga">
              <div class="santri-akun-ajak-keluarga-text1">
                    Ajak <span style="color:white">keluarga, teman</span> dan kerabat
                    bergabung dengan program ini <span style="color:white">baik menjadi</span> donatur <span style="color:white">atau</span> santri
              </div>
              <div class="santri-akun-ajak-keluarga-text2">
                    Asmaul Husna Makna dan Doa (AHMaD) project adalah sebuah program khusus untuk siapa saja yang ingin belajar memahami makna  dibalik nama-nama ALLAH SWT yang terdapat didalam Ayat Alquran
              </div>
              <div class="santri-akun-ajak-lainnya-button" (click)="goAjak()">
                    <ion-button fill="clear" slot="end">
                        <ion-text class="santri-akun-ajak-lainnya-button-text">
                            Ajak yang lainnya
                        </ion-text>
                    </ion-button>  
                    <ion-icon name="arrow-forward-circle-outline" style="color: black" size="large"></ion-icon>             
              </div>
          </ion-card>
          <div class="santri-akun-button-keluar">
                <ion-button fill="clear" slot="end"  routerLink="/login?login_mode=santri">
                        <ion-text class="santri-akun-button-keluar-text">
                           Keluar
                        </ion-text>
                    </ion-button>  
                    <ion-icon name="arrow-forward-circle-outline" style="color: white" size="large"></ion-icon>
          </div>
      </ion-col>
    </ion-row>
</ion-grid>       
