<ion-header>
  <ion-toolbar>
    <ion-title>Akun Santri</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="santri-akun">
    <ion-row>
      <ion-col>
          <ion-card class="santri-akun-Rectangle-637">
            <div style="float:left">
              <ion-avatar>
                  <img src="{{user_photoURL}}" class="santri-akun-Ellipse-87">
              </ion-avatar> 
              <div class="santri-akun-nama-User">Abdullah</div>
                  <div class="santri-akun-emailemailcom">email@email.com</div>                          
            </div>
          </ion-card> 
          <ion-card class="santri-akun-Rectangle-638">
                <div class="santri-akun-Rectangle-648">
                    <div class="santri-akun-Rectangle-648-text">Ubah Profil
                        <ion-icon name="arrow-forward-circle-outline" style="padding-left:150px;padding-top:10px;"   size="large"></ion-icon>
                    </div>
                    
                </div>
                <div class="santri-akun-Rectangle-648">
                    <div class="santri-akun-Rectangle-648-text">Ubah Password 
                      <ion-icon name="arrow-forward-circle-outline" style="padding-left:115px;padding-top:10px;"  size="large"></ion-icon>
                    </div>
                    
                </div>
                <div class="santri-akun-Rectangle-648">
                    <div class="santri-akun-Rectangle-648-text">Tentang Kami
                        <ion-icon name="arrow-forward-circle-outline"  style="padding-left:130px;padding-top:10px;"  size="large"></ion-icon>
                    </div>
                    
              
                </div>
                <div class="santri-akun-Rectangle-648">
                    <span class="santri-akun-Rectangle-648-text">FAQ
                        <ion-icon name="arrow-forward-circle-outline"  style="padding-left:150px;padding-top:10px;"  size="large"></ion-icon>                    
                    </span>
                   
                </div>
          </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>       
