<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="primary"  (click)="goDashboard()">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Registrasi Santri</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="santri-Reg-info">
    <ion-row> 
        <ion-col>
            <ion-card class="santri-reg-info-Rectangle-597">
              <div class="santri-reg-info-text">
                      <div style="padding-bottom: 20px" >Mohon Menunggu</div>
                      <div style="padding-bottom: 20px">Registrasi Program AHMaD Project anda
                      sedang dalam proses</div>
                      <div>
                      Setelah Santri di otorisasi oleh lembaga,
                      maka page ini tidak akan muncul lagi  
                    </div>
              </div>
            </ion-card>
        </ion-col>
    </ion-row>    
</ion-grid>
