.santri-program-Rectangle-631 {
    width: 330px;
    height: 200px;
    margin: 16px;
    //padding: 73px 128px 74px 127px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color: var(-ion-color--white);
  }
  .santri-program-Rectangle-632 {
    width: 330px;
    height: 311px;
    margin: 16px;
    //padding: 135px 79px 136px 78px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color: var(-ion-color--white);
  }
  .santri-program-Rectangle-633 {
    width: 330px;
    height: 311px;
    margin: 16px;
    //padding: 135px 28px 116px 27px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color:  var(-ion-color--white);
  }
  .santri-program-Rectangle-634 {
    width: 330px;
    height: 311px;
    margin: 16px 16px 25px;
    //padding: 135px 65px 136px;
    border-radius: 14px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color:  var(-ion-color--white);
  }
  .santri-program-Rectangle-628 {
    width: 378px;
    height: 152px;
    flex-grow: 0; 
      margin: 25px 0 0 -10px;
    //padding: 16px;
    box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.15);
    background-color: var(-ion-color--white);
  }
  .santri-program-berita-kampanye {
    //width: 186px;
    height: 40px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
  }