<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="primary"  (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
    </ion-buttons>
    <ion-title>Buat Password Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="Password-Santri">
  <ion-row>
    <ion-col>
        <ion-card class="Rectangle-597">
              <form id="form">
                <ion-item>
                  <ion-input [type]="getType_1()" placeholder="password anda" [(ngModel)]="newpassword" name="newpassword"></ion-input>
                  <ion-icon name="eye" item-right (click)="toggleTextPassword_1()" style="cursor:pointer"></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-input [type]="getType_2()" placeholder="ulangi password anda" [(ngModel)]="confirmassword" name="confirmassword"></ion-input>
                  <ion-icon name="eye" item-right (click)="toggleTextPassword_2()" style="cursor:pointer"></ion-icon>
                </ion-item>
                <ion-button fill="clear" class="masuk-santri-donatur-button" (click)="goBuatpassword()">
                  <ion-text class="card2-Sign-up">
                    Simpan dan lanjutkan
                  </ion-text>
                </ion-button>
              </form>
          </ion-card>    
    </ion-col>
  </ion-row>
</ion-grid>