<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button  (click)="goDashboard()">
                <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Lengkapi Profile Anda</ion-title>
        <!-- <ion-item>
            <ion-avatar slot="end">
                <img src="{{user_photoURL}}">
            </ion-avatar>
        </ion-item> -->
    </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
    <ion-grid class="ion-grid  lg:w-480 w-375">
      <ion-row>
          <ion-col>
              <ion-card class="santri-Rectangle-637 lg:ml-16 ml-0">
                  <ion-input type="file" (change)="changeListener($event)" accept="image/*" placeholder="upload foto" ></ion-input>
                  <ion-input placeholder="Nomor Hp/whatsapp"  [(ngModel)]="santri_telepon" name="santri_telepon"></ion-input>
                  <ion-input placeholder="Tempat Lahir"   [(ngModel)]="santri_tmp_lahir" name="santri_tmp_lahir"></ion-input>
                  <ion-item>
                      <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Tanggal Lahir"  [(ngModel)]="santri_tgl_lahir" name="santri_tgl_lahir"></ion-datetime>
                    </ion-item>
                  <ion-item>
                      <ion-label>Jenis Kelamin</ion-label>
                      <ion-select placeholder="Jenis Kelamin"  [(ngModel)]="santri_gender" name="santri_gender">
                          <ion-select-option value="PRIA">PRIA</ion-select-option>
                          <ion-select-option value="WANITA">WANITA</ion-select-option>
                      </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-label>Agama</ion-label>
                      <ion-select placeholder="Agama"  [(ngModel)]="santri_agama" name="santri_agama">
                          <ion-select-option value="ISLAM">Islam</ion-select-option>
                      </ion-select>
                  </ion-item>
              </ion-card>
              <ion-card class="santri-Rectangle-639 lg:ml-16 ml-0">
                  <ion-input placeholder="Alamat Lengkap" [(ngModel)]="santri_alamat" name="santri_alamat"></ion-input>
                  <ion-item>
                      <ion-label>Pilih Propinsi</ion-label>
                      <ion-select  interface="popover" placeholder="Pilih Propinsi" (ionChange)="getkota($event)"  [(ngModel)]="santri_provinsi" name="santri_provinsi">
                            <ion-select-option [value]="item" *ngFor="let item of propinsiInitial">{{ item.province}}
                          </ion-select-option>
                      </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-label>Pilih Kota/Kabupaten</ion-label>
                      <ion-select  interface="popover" placeholder="Pilih Kota/Kab" (ionChange)="getkec($event)"  [(ngModel)]="santri_kota" name="santri_kota">
                        <ion-select-option [value]="item"  *ngFor="let item of kotaInitial">{{ item.city_name }}</ion-select-option>
                      </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-label>Pilih Kecamatan</ion-label>
                      <ion-select  interface="popover" placeholder="Pilih Kecamatan" (ionChange)="getkel($event)" [(ngModel)]="santri_kecamatan" name="santri_kecamatan">
                            <ion-select-option  [value]="item"  *ngFor="let item of kecamatansInitial">{{ item.subdistrict_name}}
                          </ion-select-option>
                      </ion-select>
                  </ion-item>
                  <ion-item class="hidden">
                      <ion-label>Pilih Kelurahan</ion-label>
                      <ion-select  interface="popover" placeholder="Pilih Kelurahan" (ionChange)="getkodepos($event)" [(ngModel)]="santri_kelurahan" name="santri_kelurahan"> 
                          <ion-select-option value="{{ item.kelurahan }}" *ngFor="let item of kelurahansInitial">{{ item.kelurahan}}
                          </ion-select-option>
                      </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-label>Pilih Kode Pos</ion-label>
                      <ion-select  interface="popover" placeholder="Pilih Kode Pos"  [(ngModel)]="santri_kode_pos" name="santri_kode_pos">
                          <ion-select-option value="{{ item.postal_code }}" *ngFor="let item of kodeposInitial">{{ item.postal_code}}</ion-select-option>
                      </ion-select>
                  </ion-item>
                  <div class="catatan_santri_profile">
                      Catatan: Alamat ini digunakan sebagai tujuan alamat pengiriman materi paket pembelajaran AHMaD Project
                  </div>
              </ion-card>
              <ion-card class="santri-Rectangle-645 lg:ml-16 ml-0">
                  <ion-select  interface="popover" placeholder="Status Pekerjaan" [(ngModel)]="santri_kerja" name="santri_kerja">
                        <ion-select-option value="PEGAWAI NEGERI">PEGAWAI NEGERI</ion-select-option>
                        <ion-select-option value="KARYAWAN SWASTA">KARYAWAN SWASTA</ion-select-option>
                        <ion-select-option value="TNI/POLRI">TNI/POLRI</ion-select-option>
                        <ion-select-option value="PENGUSAHA">PENGUSAHA</ion-select-option>
                        <ion-select-option value="GURU/DOSEN">GURU/DOSEN</ion-select-option>
                        <ion-select-option value="TENAGA KESEHATAN">TENAGA KESEHATAN</ion-select-option>
                        <ion-select-option value="BIDANG HUKUM">BIDANG HUKUM</ion-select-option>
                        <ion-select-option value="PEDAGANG">PEDAGANG</ion-select-option>
                        <ion-select-option value="BIDANG JASA">BIDANG JASA</ion-select-option>
                        <ion-select-option value="IBU RUMAH TANGGA">IBU RUMAH TANGGA</ion-select-option>
                        <ion-select-option value="LAINNYA">LAINNYA</ion-select-option>
                  </ion-select>
                  <!-- <ion-input placeholder="No KTP"  name="santri_no_ktp" placeholder="Status Pekerjaan" [(ngModel)]="santri_no_ktp" name="santri_no_ktp"></ion-input> -->
              </ion-card>
              <h5><ion-text color="danger" [innerHtml]="html_entity(error_msg)"></ion-text></h5>
              <ion-card class="santri-Rectangle-628 lg:ml-16 ml-0   ">
                    <div class="lg:flex-auto  lg:w-10 lg:mt-8 mt-5 lg:pl-8 lg:mb-10" >
                        <ion-button fill="clear" class=" w-80  bg-gold rounded-2xl  border-black border lg:bg-gold  lg:rounded-2xl lg:border-gold lg:border lg:ml-12" 
                        (click)="goSaveProfile()">
                            <ion-text class=" text-black  text-md-14 lg:text-black lg:text-md-16 items-center normal-case">
                              Simpan
                          </ion-text>
                          <ion-icon name="chevron-forward-circle-outline" class="text-black" size="large"></ion-icon>                                                    
                      </ion-button>
                    </div>    
                    <div class="lg:flex-auto lg:w-10 lg:mt-8 mt-2  lg:pl-8"  >
                      <ion-button fill="clear" class="w-80  bg-white dark:bg-gelapbaru rounded-2xl border-black dark:border-gold border lg:bg-white  lg:rounded-2xl  lg:border lg:ml-12" 
                            (click)="goDashboard()">
                            <ion-text class=" text-black  text-md-14 dark:text-gold  lg:text-black lg:text-md-16 items-center normal-case">
                              Lewati Dahulu
                            </ion-text>
                          <ion-icon name="share-social-outline" class="text-black dark:text-gold"   size="large"></ion-icon>
                      </ion-button>      
                    </div>    
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
  </ion-content>    