  
<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title><img src="assets/logo.jpg" height="40">AHMaD</ion-title>
    </ion-toolbar>
    
    <ion-buttons slot="end">
      <ion-button color="dark" expand="block" fill="outline" routerLink="/signin">
        MASUK        
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
    
    

    <ion-content padding>
      <ion-grid>
    
          <ion-row>
               <ion-col  size="12"  size-md="5" offset-md="2" size-lg="6" offset-lg="3"  style="background: var(--ion-color-dark);">
                <ion-text color="warning">
                    <h1>Belajar Al quran <span style="color:white">lebih</span> ,</h1>
                  </ion-text>
                  <ion-text color="warning">
                      <h1><span style="color:white">Bersedekah</span> lebih,</h1>
                    </ion-text>
                    <ion-text color="warning">
                      Asmaul Husna Makna dan Doa(AHMaD) Project adalah sebuah program khusus untuk siapa 
                      saja yang ingin belajar memahami makna dibalik nama-nama Allah SWT  yang terdapat 
                      di dalam Alquran.
                    </ion-text>
            </ion-col>
           
          </ion-row>
        </ion-grid>
       
           
    </ion-content>