<ion-header>
    <ion-toolbar> 
        <ion-buttons slot="start">
            <ion-button color="primary"  (click)="goBack()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
      </ion-buttons>
      <ion-title  class="ion-text-center Registrasi-Santri">Registrasi Doonatur</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid class="Registrasi-Santri-grid">
    <ion-row>
      <ion-col>
          <ion-card class="Registrasi-Santri-Rectangle-597">
              <div class="Registrasi-Santri-card-title">
                  Tidak ada kata terlambat untuk belajar kebesaran Allah SWT
                </div>    
                <form id="form">
                    <ion-input placeholder="Email"  [(ngModel)]="user_email" name="user_email" required (ngModelChange)="blurEvent1($event);"></ion-input>
                    <ion-input placeholder="Nama Lengkap" [(ngModel)]="nama_lengkap" name="nama_lengkap" required (ngModelChange)="blurEvent2($event);"></ion-input>
                    <ion-text color="danger"><h3>{{error_msg}}</h3></ion-text>
                    <ion-button color="warning" fill="clear" class="masuk-santri-donatur-button" (click)="goRegister()">                        
                        <ion-text class="donatur-reg-card2-Sign-up">
                            Lanjutkan                            
                        </ion-text>                        
                        <div class="">
                            <ion-icon name="arrow-forward-circle-outline" style="color: black" size="large"  ></ion-icon>
                        </div>
                        
                    </ion-button>                    
                    <ion-text class="masuk-santri-donatur-text">Sudah punya akun? </ion-text>
                    <button ion-button icon-only clear class="masuk-santri-donatur-Registrasi" (click)="gotologinpage()">Masuk</button>
                    
                </form>
                  <ion-text style="text-align: center">
                    <h3>Atau lebih cepat</h3>
                  </ion-text>
                  <div style="text-align: center">
                    <ion-button color="danger" (click)="doLogin()">
                      Sign in With Google
                      <ion-icon name="logo-google"></ion-icon>
                    </ion-button>
                  </div>
                  
                  
  
          </ion-card>
        </ion-col>
     </ion-row>   
  </ion-grid>
  