.space_row
{
    margin-bottom: -36px !important;
    margin-top :0px!important;
}
.card1_banner {
    width: 1244px;
    height: 660px;
    margin: 0 0 118px 66px;
    object-fit: contain;
    //transform: rotate(180deg);
    border-radius: 32px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
  } 
  
  .card2_Rectangle-597 {
    width: 1244px;
    height: 660px;
    margin: 0px 0 36px 66px;
    padding: 36px 43px 36px 46px;
    border-radius: 32px;
    box-shadow: 0 3px 5px 0 rgba(176, 190, 197, 0.32), 0 8px 24px 0 rgba(176, 190, 197, 0.32);
    background-color: var(--white);
  }


/*
ion-card-content.background {
    --background: #ccc url("../../assets/images/banner.png") 0 0/100% 100% no-repeat center / cover;
}
*/

.button_masuk {
    height: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 14px;
    border: solid 1px var(--ion-color-black);
  }
  .button_registrasi {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    object-fit: contain;
    border-radius: 14px;
    background-color: var(--ion-color-black);  
  }
  .Sign-up {
    width: 71px;
    height: 20px;
    flex-grow: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: var(--ion-color-goldd);
  }
  .Login {
    width: 48px;
    height: 20px;
    flex-grow: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: var(--ion-color-black);
  }
.banner-title{    
    width: 681px;
    height: 138px;
    margin: 118px 501px 19px 128px;
    font-family: Poppins;
    font-size: 62px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--goldd);
}
ion-card {
    position: relative;
    text-align: center;
  }
  
  .card1-title {
    position: absolute;
    top: 0%;    
    width: 681px;
    height: 138px;
    margin: 118px 501px 19px 128px;
    font-family: Poppins;
    font-size: 62px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--ion-color-goldd);
  }
  .card1-content{
    position: absolute;
    top: 275px;    
    width: 716px;
    height: 99px;
    margin: 19px 466px 116px 128px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--ion-color-goldd);
  }
  .card1-button_lanjut{
    position: absolute;
    top: 50%;  
    width: 260px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 116px 954px 34px 128px;
    padding: 16px 20px;
    object-fit: contain;
    border-radius: 14px;
    box-shadow: 2px 4px 12px 0 rgba(252, 198, 4, 0.2);
    background-color: var(--ion-color-goldd);
 }

  .card2-title{
    width: 358px;
    height: 48px;
    margin: 0 401px 24px 396px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: var(--ion-color-black);
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  .card2-content{
    width: 1152px;
    height: 122px;
    margin: 24px 3px 36px 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--ion-color-black);
  }
  .card2-image-santri{
    width: 500px;
    height: 321px;
    flex-grow: 0;
    margin: 0 46px 0 0;
    object-fit: contain;
    border-radius: 32px;
    background-color: var(--ion-color-goldd);
  }
  .card2-program-santri{
    width: 606px;
    height: 103px;
    flex-grow: 0;
    margin: 18px 0 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: var(--ion-color-black);
  }
  .card2-button_lanjut{
    width: 260px;
    height: 52px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 32px 386px 0 0;
    padding: 16px 20px;
    object-fit: contain;
    border-radius: 14px;
    border: solid 1px #000000;
    --background-color: #ffffff;
  }
  .card2-Sign-up{
    width: 154px;
    height: 20px;
    flex-grow: 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: var(--ion-color-black);
  }
 
  ion-slide{
    overflow-y: scroll;
  }
  .swiper-slide{
      display: block;
  }
.column_2 {
    float: left;
    width: 50%;
}
.row_card2:after {
    content: "";
    display: table;
    clear: both;
}    
