<ion-header >
    <ion-toolbar >
        <ion-toolbar>        
        <ion-title><img src="assets/images/logo.svg" class="logo"></ion-title>
      </ion-toolbar>
      
      <ion-buttons slot="end">
        <ion-button class="button_masuk"  routerLink="/signin" >
          <ion-text class="login" >
              MASUK
          </ion-text>        
        </ion-button> 
        <ion-button class="button_registrasi"  routerLink="/signin" >
          <ion-text class="Sign-up">
              Registrasi        
          </ion-text>          
        </ion-button>      
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-slide>
      <ion-grid>
          <ion-row class="space_row">
               <ion-col>                 
                  <ion-card class="card1_banner">          
                        <ion-card-content>
                            <img src="assets/images/banner.webp"  />   
                            <div class="card1-title">
                                Belajar Alquran <span style="color:white" >Lebih</span>,
                                <span  style="color:white">Bersedekah</span> Lebih
                            </div>           
                            <div class="card1-content">
                                Asmaul Husna Makna dan Doa (AHMaD) project adalah sebuah
                                program khusus untuk siapa saja yang ingin belajar memahami makna 
                                dibalik nama-nama ALLAH SWT yang terdapat didalam Ayat Alquran
                            </div>
                            <ion-button class="card1-button_lanjut" fill="clear" routerLink="/signin" >
                              <ion-text class="card2-Sign-up" >
                                  Pelajari lebih lanjut
                              </ion-text>          
                            </ion-button> 
                        </ion-card-content>                           
                  </ion-card>
                 </ion-col>
            </ion-row>  
            <ion-row class="space_row">
                  <ion-col>
                      <ion-card class="card2_Rectangle-597">                       
                              <ion-card-content  >
                                <div class="card2-title">
                                    Apa itu AHMaD Project
                                </div>        
                                <div class="card2-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu vel ut ut eget eu neque, risus. Dolor integer aliquet commodo purus. In aliquam enim lobortis pharetra praesent aliquet arcu. Feugiat mattis fermentum sit at in praesent pulvinar tortor imperdiet. Viverra volutpat duis ultrices neque, in arcu, massa. Id quam pulvinar ornare pellentesque. Cursus vel magnis ut sem id integer. Eget quisque facilisis morbi nullam eu risus.
                                </div>
                                <div class="row_card2">
                                    <div class="column_2">
                                        <div class="card2-image-santri " >
                                            <img src="assets/images/image-santri.webp" />                                 
                                        </div>      
                                    </div>
                                    <div class="column_2">
                                        <div class="card2-program-santri">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nullam aliquam placerat mauris risus. Consequat consequat lacus nulla ut sit. In enim at vel nulla ullamcorper. Tortor justo diam elementum mattis congue in in amet.
                                        </div>  
                                        <ion-button class="card2-button_lanjut" fill="clear" routerLink="/signin" >
                                          <ion-text class="card2-Sign-up" >
                                              Pelajari lebih lanjut
                                          </ion-text>          
                                        </ion-button> 
                                    </div>     
                                                                 
                                </div>
                              </ion-card-content>                       
                      </ion-card>         
                  </ion-col>
                </ion-row>
        </ion-grid>        
  </ion-slide>