<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="primary"  (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ajak Lainnya </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
<ion-grid class="ajak-gabung lg:w-480 w-375">
  <ion-row>
    <ion-col>
        <ion-card  class="ajak-gabung-card-rectangle lg:ml-16 ml-0">
                <div class="pl-4 pr-5">
                  <ion-input placeholder="Nomor Hp/whatsapp" [(ngModel)]="no_telepon" name="no_telepon"></ion-input>
                </div>  
                <ion-item *ngIf="isPendamping">
                    <ion-label>Bergabung Sebagai</ion-label>
                  <ion-select placeholder="Pilih"  [(ngModel)]="tipe_gabung" name="tipe_gabung" >
                        <ion-select-option value="1">Sebagai Donastur</ion-select-option>
                        <ion-select-option value="2">Sebagai Santri</ion-select-option>
                  </ion-select>
                </ion-item>
                <div class="error_msg"  [innerHtml]="html_entity(error_msg)"></div>
                <ion-button fill="clear" class="ajak-gabung-button" (click)="goAjak()">
                  <ion-text class="ajak-gabung-Sign-up normal-case">
                    Simpan dan lanjutkan
                  </ion-text>
                </ion-button>
          </ion-card>    
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>