<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="primary"  (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ajak Lainnya </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="w-full" [scrollEvents]="true">
<ion-grid class="ajak-gabung lg:w-480 w-375">
  <ion-row>
    <ion-col>
        <ion-card  class="ajak-gabung-card-rectangle lg:ml-16 ml-0">
                <div class="pl-4 pr-5">
                  <ion-input placeholder="Nomor Hp/whatsapp" [(ngModel)]="no_telepon" name="no_telepon"></ion-input>
                  <ion-text color="danger"><h3>{{error_msg}}</h3></ion-text>
                </div>  
                <ion-button fill="clear" class="ajak-gabung-button" (click)="goAjak()">
                  <ion-text class="ajak-gabung-Sign-up normal-case">
                    Simpan dan lanjutkan
                  </ion-text>
                </ion-button>
          </ion-card>    
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>